a {
    font-family: monospace;
    font-size: 18;
    color: black;
    text-decoration: none;
    background-color: lightgray;
    padding: 1%;
    border-radius: 9px;
    margin-left: 2%;
}

.topnav {
    background-color: gray;
    float: left;
    color: black;
    width: 1000px;
    border-radius: 6px;
}
